.form-container {
  /* text-align: center; */
  display: flex;
  justify-content: center;
  align-items: center;
}
.container {
  margin-top: 2rem;
}
h1 {
  font-size: 2.5rem;
  text-align: center;
  background-color: #f3f3f3;
  width: 20%;
  margin: 0.5rem auto;
}
input,
button {
  padding: 0.5rem;
  font-size: 2rem;
  border: none;
  background-color: lightgreen;
  color: darkred;
  font-weight: bold;
}
input:focus {
  outline: none;
}
button {
  color: lightgreen;
  background-color: aliceblue;
  cursor: pointer;
  transition: all 0.3s ease;
}
button:hover {
  background-color: lightgoldenrodyellow;
  color: wheat;
}
